body {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 16px;
    color: $dark-gray;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}
